.moderation-dashboard {
  display: flex;
}

.moderation-dashboard-region-left,
.moderation-dashboard-region-middle,
.moderation-dashboard-region-right {
  flex-grow: 1;
  width: 33%;
  padding: .5rem;
}

.moderation-dashboard .views-field-revision-uid,
.moderation-dashboard .views-field-uid {
  float: left;
  margin-right: .5rem;
}

.moderation-dashboard canvas::selection {
  background: none;
}

.moderation-dashboard .moderation-dashboard-block {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.moderation-dashboard .moderation-dashboard-block > h2 {
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0,0,0,.125);
  margin: 0;
  font-weight: normal;
  text-align: left;
  font-size: 1.3rem;
}

.moderation-dashboard .moderation-dashboard-block > h2,
.moderation-dashboard .moderation-dashboard-block > div {
  padding: .75rem;
}

.moderation-dashboard nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.moderation-dashboard nav li {
  margin-right: 1rem;
}
