<div class="moderation-dashboard">
  <div class="moderation-dashboard-region-left">
    {{ content.left }}
  </div>
  <div class="moderation-dashboard-region-middle">
    {{ content.middle }}
  </div>
  <div class="moderation-dashboard-region-right">
    {{ content.right }}
  </div>
</div>
